{% extends 'app/base.html'%}
{% load static %}
{% block title %}success{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading">Reset Password Completed!</h3>
            <hr>
            <div>
                <iframe src="https://media.tenor.com/xPh7mDqOZ8UAAAAC/success.gif" width="500" height="500" frameBorder="0"
                class="giphy-embed" allowfullscreen></iframe>
            </div>
            <p>An Email has been sent with instructions to reset your password <br> Please check Email <br></p>
        </div>
    </div>
</div>
{% endblock main-content %}