.hoccont img{
    width: 100%;
}


   
   
.ch{
       background-color:#fff;background-image:linear-gradient(#fff7ef, #fff);
       background-image:-webkit-linear-gradient(#fff7ef, #fff);
       background-image:-moz-linear-gradient(#fff7ef, #fff);
       background-image:-ms-linear-gradient(#fff7ef, #fff);
       background-image:-o-linear-gradient(#fff7ef, #fff);
      
       
}
   
.ab{
       background-color:#fff;
       background-image:linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
       background-image:-o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
}
   
.an{
       background-color:#fff;
       background-image:linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
       background-image:-o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
}
   
.pro{
    color:hwb(0 0% 100%);
    font-size:22px;
    line-height:22px;
    margin-bottom:15px;
    width:43%;
    margin:0 auto;
    text-align:center;
    
}

.hoc a{
    text-decoration: none;
}
   
